.pianoBody {
    background-color: #00471b;
    width: 635px;
    height: 250px;
    margin: 10% auto;
    padding: 80px 20px 0;
    border-radius: 10px;
}

.keys {
    background-color: #040404;
    width: 630px;
    height: 180px;
    padding-left: 2px;
}

.key {
    background-color: #ffffff;
    position: relative;
    width: 41px;
    height: 175px;
    margin: 2px;
    float: left;
    border-radius: 0 0 3px 3px;
}

.key.black-key::after {
    background-color: #1d1e22;
    content: "";
    position: absolute;
    left: -18px;
    width: 32px;
    height: 100px;
    border-radius: 0 0 3px 3px;
}